<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmpresaServlet</servlet-name>
        <servlet-class>br.senac.tads.livraria.pi3a.controller.EmpresaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarProduto</servlet-name>
        <servlet-class>br.senac.tads.livraria.pi3a.controller.BuscarProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarEmpresa</servlet-name>
        <servlet-class>br.senac.tads.livraria.pi3a.controller.BuscarEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuario</servlet-name>
        <servlet-class>br.senac.tads.livraria.pi3a.controller.BuscarUsuario</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EmpresaServlet</servlet-name>
        <url-pattern>/EmpresaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarProduto</servlet-name>
        <url-pattern>/BuscarProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarEmpresa</servlet-name>
        <url-pattern>/BuscarEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuario</servlet-name>
        <url-pattern>/BuscarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
